/* 
Main Navigation
 Device - Desktops and Laptops 
*/

#mainNav ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    width: 21.5%;
    background-color: rgb(245, 244, 186);

}

#mainNav li a {
    display: block;
    color:black;                  /*vertical navigation bar*/
    padding: 13.3% ;
    text-decoration: none;
    list-style-type: none;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
  
#mainNav li a:hover{
background-color:#555;
color: white;
}



  /* 
 Main Navigation
 Device - Smartphones (Portrait) 320px to 679px
*/
@media (min-width: 320px) and (max-width: 670px) {

    #mainNav ul {
        width: 21%
    }
    
    #mainNav li a {
        padding: 9.5%;
        font-size: 10px;
        border-bottom: 1px solid black;
    }
}

/*
CSS design page 1
Device - Desktops and Laptops (also Ipads)
*/

#mainimage {
    float: right;
    width: 100%;
    height: auto;
    max-width: 78.6%;
}

#head h1 {
 font-family: cursive;
 text-decoration: underline;
 text-align: center;
}

#Firstsectionimg {
    float: right;
    width: 100%;
    height: 100%;
    max-width: 370px;
    max-height: 370px;
}

#Firstsection {
    padding-top: 3%;
}

#Firstsection p {
    font-size: 21px;
    font-family: monospace;
    text-align: center;
    
}

#design2content h1 {
 text-align: left;
 font-family: cursive;
 padding-left: 1.5%;
}

#design2content ul {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: square;
}

#greenbulb {
    float: left;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
}

#whyshouldwe {
    float: left;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    padding-top: 1%;
}

#design2content p {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 28%;
}
   
#exportingcountries h2  {
    font-size: 25px;
    text-decoration: underline;
}

#export {
    width: 100%;
    height: 100%;
    max-width: 355px;
    max-height: 355px;
    float: left;
}

#exportingcountries ul {
    padding-left: 27%;
}

body{
    background-color: #ffffdb;
    border: 8px solid rgb(18, 226, 18);
    border-radius: 12px;
    padding: 0.5%;  
}

#benifitsofeco ul {
    padding-left: 22%;
}


#animationdesign img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 150px;
    position: relative;
    animation-name: design1;
    animation-duration: 10s;
}

@keyframes design1 {
    0%     {left: 0px; top: 0px ;}
    6.25%  {left: 0px; top: 50px;}
    12.5%  {left: 120px; top: 50px;}
    18.75% {left: 120px; top: 0px;}
    25%    {left: 240px; top: 0px;}
    31.25% {left: 240px; top: 50px;}
    37.5%  {left: 360px; top: 50px;}
    43.75% {left: 360px; top: 0px;}
    50%    {left: 480px; top: 0px;}
    56.25% {left: 360px; top: 0px;}
    62.5%  {left: 360px; top: 50px;}
    68.75% {left: 240px; top: 50px;}
    75%    {left: 240px; top: 0px;}
    81.25% {left: 120px; top: 0px;}
    87.5%  {left: 120px; top: 50px;}
    93.75% {left: 0px; top: 50px;}
    100%   {left: 0px; top: 0px;}
}




/*
CSS design 2
 Device - Smartphones (Portrait) 320px to 679px
  */
@media (min-width: 320px) and (max-width: 670px) {

#mainimage {
    float: right;
    width: 100%;
    height: auto;
    max-width: 78.6%;
}

#head h1{
    font-size: 13px;
}

#Firstsectionimg {
    max-width: 170px;
    max-height: 170px;
}

#Firstsection {
    padding: 1%;
}

#Firstsection p {
    font-size: 10px;
}

#design2content h1 {
    font-size: 11px;
}

#design2content ul{
    font-size: 9px;
    padding-left: 15%;
}

#greenbulb {
    max-width: 130px;
    max-height: 150px;
}

#whyshouldwe {
    max-width: 150px;
    max-height: 150px;
}

#design2content p {
    font-size: 9px;
    padding-left: 2%;
}

#exportingcountries h2{
font-size: 11px;
}

#export {
    max-width: 150px;
    max-height: 150px;
}

#animationdesign img {
    max-width: 100px;
    max-height: 50px;
    animation-name: design1;
}

@keyframes design1 {
    0%     {left: 0px; top: 0px ;}
    6.25%  {left: 0px; top: 40px;}
    12.5%  {left: 40px; top: 40px;}
    18.75% {left: 40px; top: 0px;}
    25%    {left: 80px; top: 0px;}
    31.25% {left: 80px; top: 40px;}
    37.5%  {left: 120px; top: 40px;}
    43.75% {left: 120px; top: 0px;}
    50%    {left: 160px; top: 0px;}
    56.25% {left: 120px; top: 0px;}
    62.5%  {left: 120px; top: 40px;}
    68.75% {left: 80px; top: 40px;}
    75%    {left: 80px; top: 0px;}
    81.25% {left: 40px; top: 0px;}
    87.5%  {left: 40px; top: 40px;}
    93.75% {left: 0px; top: 40px;}
    100%   {left: 0px; top: 0px;}
}
}

  /*
Footer
 Device - Desktops and Laptops (also Ipads)
*/


#footerlogo{
    float: right;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    padding-top: 10px;
  }  
  
  footer {
      background: #0b6e29;
      padding: 1em;
      
  }
  
  footer p {
      color: white;
  }
  
  footer h3 {
      color: white;
      text-align: center;
      
  }
  footer a{
      color: white;
      text-decoration: none;
  }

  /*
Footer
 Device - Smartphones (Portrait) 320px to 679px
  */
  @media (min-width: 320px) and (max-width: 670px) {
  
    #footerlogo{
    max-width: 100px;
    max-height: 100px;
    padding-top: 5px;
    }
    
    footer p, h3, a {
        font-size: 8px;
    }
    footer{
        padding: 0.1em;
    }
    }
    